// Footer js
script(src="./js/libs/jquery/jquery-3.5.1.min.js")
script(src="./js/libs/jquery/jquery-migrate-3.3.2.min.js")
script(src="./js/libs/magnific-popup/jquery.magnific-popup.min.js")
script(src="./js/libs/swiper/swiper.min.js")
script(src="https://scrollmagic.io/assets/js/lib/greensock/TweenMax.min.js")
script(src="https://scrollmagic.io/scrollmagic/uncompressed/ScrollMagic.js")
script(src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js")
script(src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/debug.addIndicators.js")