section.section-form
  .container

    .section-form__img
      picture.--first
        source(srcset='./images/subscription-img-1.webp' type='image/webp')
        source(srcset='./images/subscription-img-1.png' type='image/png')
        img(src='./images/subscription-img-1.png' alt='')
      picture.--last
        source(srcset='./images/subscription-img-2.webp' type='image/webp')
        source(srcset='./images/subscription-img-2.png' type='image/png')
        img(src='./images/subscription-img-2.png' alt='')

    .section-form__form
      .section-form__form-left
        .section-form__untitle Хочешь больше хороших друзей и знакомств?
        .section-form__title Узнай о клубе в своем городе
      .section-form__form-center
        form(action="" autocomplete="off")
          .section-form__row-1
            div
              .form-group
                +field-text({
                  title: '',
                  hasJs: false,
                  isTextarea: false,
                  hasError: false,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    name: 'text',
                    placeholder: 'Как тебя зовут?'
                  }
                })
            div
              .form-group
                +field-text({
                  title: '',
                  hasJs: false,
                  isTextarea: false,
                  hasError: false,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    name: 'phone',
                    placeholder: '+7 (___)  ___-__-__'
                  }
                })
          .section-form__row-2
            div
              button(type="submit").section-form__btn
                span.d-sm-none.d-lg-inline-block.d-xl-none найти  друзей
                span.d-none.d-sm-inline-block.d-lg-none.d-xl-inline-block хочу найти хороших друзей
                i.icon-arrow-right
            div
              +field-checkbox({
                title: 'Согласен с политикой обработки личной информации',
                isLink: false,
                mods: '',
                attrs: {
                  name: 'checkbox',
                  checked: true,
                }
              })

// Footer
footer.footer
  .container
    
    .footer__top
      .logo-footer
        p При поддержке
        picture
          source(srcset='./images/logo-footer.webp' type='image/webp')
          source(srcset='./images/logo-footer.png' type='image/png')
          img(src='./images/logo-footer.png' alt='')
      .footer__navigation
        .row
          .col-12.col-xs-6 1
          .d-none.d-xl-block.col-12.col-xs-6 2
      .footer__last
        .footer__address
          .footer__address-title Время зажигания свечей
          p.--fs13 
            span.d-block Вы находитесь в:
            a(href="#!").--dashed.--fs15 Andorra la Vella, Andorra
          p.--fs16 Шаббат, глава Торы: Вайецей
          p.--fs14 Пятница, 27. Ноябрь, 2020
          .footer__address-time
            div Зажигание свечей в
            strong 17:05
    .footer__bottom
      .first
        p Еврейская общепознавательная платформа Achdut 2020
      .last
        p Создание и разработка сайта в студии 
          a(href="#!" target="_blank") Piarme

  
