doctype

html(lang="ru")

  -var active = 'Для детей' //активный пункт меню, список в header.jade
  -var pageTitle = 'Для детей' + ' - Achdut' //title страницы для генерации верстки

  include ./_include/_head

  body.--bg-3
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      .top-rounds
        div.first
        div.last.--top

      .content
        .container

          +breadcrumbs()
            +breadcrumbs-item('Главная страница', '#!')
            +breadcrumbs-item('Название страницы')

          .content__head.--top
            .h1 Для детей

          .content__top.--icon
            .content__top-icon
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные  предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 
          
          // Category
          .category.--category1
            .category__head
              .category__head-untitle Вдохновленные и просвещенные
              h1 Раскраски
              a(href="#!").category__head-link Перейти в раздел
                i.icon-arrow-right
            .category__wrapper
              .category__wrapper-inside
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          img(src="./tmp/img-for-children-1-1.png", alt="")
                        p Раскраска для Хануки 1
                        a(href="#!").category__block-btn Скачать
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          img(src="./tmp/img-for-children-1-2.png", alt="")
                        p Раскраска для Хануки 2
                        a(href="#!").category__block-btn Скачать
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          img(src="./tmp/img-for-children-1-3.png", alt="")
                        p Раскраска для Хануки 3
                        a(href="#!").category__block-btn Скачать
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          img(src="./tmp/img-for-children-1-4.png", alt="")
                        p Раскраска для Хануки 4
                        a(href="#!").category__block-btn Скачать
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          img(src="./tmp/img-for-children-1-5.png", alt="")
                        p Раскраска для Хануки 5
                        a(href="#!").category__block-btn Скачать
                .swiper-button-next
                .swiper-button-prev
              .swiper-pagination
          
          // Category
          .category.--category2
            .category__head
              .category__head-untitle Просвещение для маленьких
              h1 Сказки
              a(href="#!").category__head-link Перейти в раздел
                i.icon-arrow-right
            .category__wrapper
              .category__wrapper-inside
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-stories-1.png", alt="")
                        p Притча к 9 Ава
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-stories-1.png", alt="")
                        p Отец и мать лучше всех
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-stories-1.png", alt="")
                        p Разговор с фараоном
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-stories-1.png", alt="")
                        p Раввин и работник
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-stories-1.png", alt="")
                        p Он все видит
                .swiper-button-next
                .swiper-button-prev
              .swiper-pagination
          
          // Category
          .category.--category2
            .category__head
              .category__head-untitle Занятный досуг
              h1 Игры
              a(href="#!").category__head-link Перейти в раздел
                i.icon-arrow-right
            .category__wrapper
              .category__wrapper-inside
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-games-1.png", alt="")
                        p Название игры
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-games-1.png", alt="")
                        p Название игры
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-games-1.png", alt="")
                        p Название игры
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-games-1.png", alt="")
                        p Название игры
                    .swiper-slide
                      .category__block
                        .category__block-thumb
                          a(href="#!")
                            img(src="./tmp/img-games-1.png", alt="")
                        p Название игры
                .swiper-button-next
                .swiper-button-prev
              .swiper-pagination

          // All video
          .all-video.-all--video1
            .category__head
              .category__head-untitle Увлекательно и познавательно
              h1 Видео
              a(href="#!").category__head-link Перейти в раздел
                i.icon-arrow-right
            .all-video__wrapper
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .all-video__block
                      .all-video__block-thumb
                        img(src="./tmp/img-videos-1.png", alt="")
                        a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").all-video__block-play 
                          i.icon-play
                  .swiper-slide
                    .all-video__block
                      .all-video__block-thumb
                        img(src="./tmp/img-videos-1.png", alt="")
                        a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").all-video__block-play 
                          i.icon-play
                  .swiper-slide
                    .all-video__block
                      .all-video__block-thumb
                        img(src="./tmp/img-videos-1.png", alt="")
                        a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").all-video__block-play 
                          i.icon-play
              .swiper-button-next
              .swiper-button-prev

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    script.
      $(document).ready(function(){
        var swiper1 = new Swiper('.-all--video1 .swiper-container', {
          navigation: {
            nextEl: '.-all--video1 .swiper-button-next',
            prevEl: '.-all--video1 .swiper-button-prev',
          },
          pagination: {
            el: '.-all--video1 .swiper-pagination',
            clickable: true
          },
          loop: true,
          breakpoints: {
            320: {
              slidesPerView: 1,
              spaceBetween: 15
            },
            640: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            1300: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            1650: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            }
          }
        });
        var swiperChildren1 = new Swiper('.--category1 .swiper-container', {
          navigation: {
            nextEl: '.--category1 .swiper-button-next',
            prevEl: '.--category1 .swiper-button-prev',
          },
          pagination: {
            el: '.--category1 .swiper-pagination',
            clickable: true
          },
          loop: true,
          breakpoints: {
            320: {
              slidesPerView: 'auto',
              spaceBetween: 30
            },
            640: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 5,
              loopedSlides: 0,
              spaceBetween: 30,
              loop: false,
              noSwiping: true,
              simulateTouch: false,
              allowTouchMove: false
            }
          }
        });
        var swiperStories = new Swiper('.--category2 .swiper-container', {
          navigation: {
            nextEl: '.--category2 .swiper-button-next',
            prevEl: '.--category2 .swiper-button-prev',
          },
          pagination: {
            el: '.--category2 .swiper-pagination',
            clickable: true
          },
          loop: true,
          breakpoints: {
            320: {
              slidesPerView: 'auto',
              spaceBetween: 30
            },
            640: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 5,
              loopedSlides: 0,
              spaceBetween: 30,
              loop: false,
              noSwiping: true,
              simulateTouch: false,
              allowTouchMove: false
            }
          }
        });
        var swiperGames = new Swiper('.--category3 .swiper-container', {
          navigation: {
            nextEl: '.--category3 .swiper-button-next',
            prevEl: '.--category3 .swiper-button-prev',
          },
          pagination: {
            el: '.--category3 .swiper-pagination',
            clickable: true
          },
          loop: false,
          breakpoints: {
            320: {
              slidesPerView: 'auto',
              spaceBetween: 30
            },
            640: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 5,
              loopedSlides: 0,
              spaceBetween: 30,
              loop: false,
              noSwiping: true,
              simulateTouch: false,
              allowTouchMove: false
            }
          }
        });
      });