doctype

html(lang="ru")

  -var active = 'Игры' //активный пункт меню, список в header.jade
  -var pageTitle = 'Игры' + ' - Achdut' //title страницы для генерации верстки

  include ./_include/_head

  body.--bg-2
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      .top-rounds
        div.first
        div.center
        div.last

      .content
        .container

          +breadcrumbs()
            +breadcrumbs-item('Главная страница', '#!')
            +breadcrumbs-item('Название страницы')

          .content__head.--top
            .h1 Игры

          .content__top.--icon
            .content__top-icon
              i.icon-games
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

