doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Achdut' //title страницы для генерации верстки

  include ./_include/_head

  body.--bg-main
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      .content
        .container

          // Main slider
          .main-slider
            .main-slider__wrapper
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .main-slider__block
                      img(src="./tmp/main-slider.png", alt="")
                  .swiper-slide
                    .main-slider__block
                      img(src="./tmp/main-slider.png", alt="")
                  .swiper-slide
                    .main-slider__block
                      img(src="./tmp/main-slider.png", alt="")
              .swiper-button-next
              .swiper-button-prev
            .swiper-pagination

          // Quote
          .quote
            .quote__thumb
              img(src="./tmp/quote-main.png", alt="")
            .quote__content
              .quote__content-icon
                i.icon-comments
              p Пока есть хотя бы один еврейский ребенок, не получающий настоящего еврейского воспитания, считается, что община не исполнила своего долга.
              .quote__content-name Любавический Ребе

          // About
          .about
            .about__wrapper
              .left
                .about__head
                  .about__head-category Еврейский клуб “Ахдут”
                  h1 О нашем клубе
                .about__content
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
                  p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                .about__btns
                  a(href="#!").about__content-btn
                    span Подробнее
                    i.icon-arrow-right
                  div
                    a(href="#!").about__content-link
                      span Родителям
                      i.icon-arrow-right
              .right
                img(src="./tmp/img-about.svg", alt="").about__img

          // Main news
          .main-news
            .main-news__head
              .main-news__head-untitle Вдохновленные и просвещенные
              h1 Последние новости
              a.main-news__head-link(href='#!')
                | все новости
                i.icon-arrow-right
            .main-news__wrapper
              .left
                .main-news__video
                  .main-news__video-thumb
                    img(src='./tmp/img-videos-1.png' alt)
                    a.main-news__video-play(data-fancybox href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
                      i.icon-play
              .right
                .main-news__block
                  .main-news__block-thumb
                    a(href='#!')
                      img(src='./tmp/img-news-2.png' alt)
                  .main-news__block-content
                    a.main-news__block-title(href='#!') Как научить ребенка выражать свои эмоции и избавляться от злости
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                .main-news__block
                  .main-news__block-thumb
                    a(href='#!')
                      img(src='./tmp/img-news-2.png' alt)
                  .main-news__block-content
                    a.main-news__block-title(href='#!') Как научить ребенка выражать свои эмоции и избавляться от злости
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.

        // Main journal
        .main-journal
          .container
            .main-journal__round
            .main-journal__head
              .main-journal__head-untitle Еженедельный выпуск фирменного журнала
              h1 Наши журналы
            .main-journal__wrapper
              .main-journal__wrapper-inside
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .main-journal__block
                        .main-journal__block-thumb
                          img(src="./tmp/img-stories-1.png", alt="")
                        .main-journal__block-content
                          .main-journal__block-category Адар Нисан Ияр 5780
                          .main-journal__block-title Ахдут Вэяхад 77 
                          a(href="#!").main-journal__block-btn Скачать
                    .swiper-slide
                      .main-journal__block
                        .main-journal__block-thumb
                          img(src="./tmp/img-stories-1.png", alt="")
                        .main-journal__block-content
                          .main-journal__block-category Адар Нисан Ияр 5780
                          .main-journal__block-title Ахдут Вэяхад 77 
                          a(href="#!").main-journal__block-btn Скачать
                    .swiper-slide
                      .main-journal__block
                        .main-journal__block-thumb
                          img(src="./tmp/img-stories-1.png", alt="")
                        .main-journal__block-content
                          .main-journal__block-category Адар Нисан Ияр 5780
                          .main-journal__block-title Ахдут Вэяхад 77 
                          a(href="#!").main-journal__block-btn Скачать
                    .swiper-slide
                      .main-journal__block
                        .main-journal__block-thumb
                          img(src="./tmp/img-stories-1.png", alt="")
                        .main-journal__block-content
                          .main-journal__block-category Адар Нисан Ияр 5780
                          .main-journal__block-title Ахдут Вэяхад 77 
                          a(href="#!").main-journal__block-btn Скачать
                    .swiper-slide
                      .main-journal__block
                        .main-journal__block-thumb
                          img(src="./tmp/img-stories-1.png", alt="")
                        .main-journal__block-content
                          .main-journal__block-category Адар Нисан Ияр 5780
                          .main-journal__block-title Ахдут Вэяхад 77 
                          a(href="#!").main-journal__block-btn Скачать
                    .swiper-slide
                      .main-journal__block
                        .main-journal__block-thumb
                          img(src="./tmp/img-stories-1.png", alt="")
                        .main-journal__block-content
                          .main-journal__block-category Адар Нисан Ияр 5780
                          .main-journal__block-title Ахдут Вэяхад 77 
                          a(href="#!").main-journal__block-btn Скачать
                .swiper-button-next
                .swiper-button-prev
              .swiper-pagination

            a.main-journal__more(href='#!')
              | все новости
              i.icon-arrow-right

        // Main gallery
        .main-gallery
          .container
            .main-gallery__round
            .main-gallery__round.--small
            .main-gallery__head
              .main-gallery__head-untitle Вдохновленные и просвещенные
              h1 Наши ребята
              a.main-gallery__head-link(href='#!')
                | Все фотографии
                i.icon-arrow-right
            .main-gallery__wrapper
              .main-gallery__wrapper-inside
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide.--one
                      .main-gallery__block.--half.--top
                        a(href="#!")
                          img(src="./tmp/img-gallery-1.png", alt="")
                      .main-gallery__block.--half.--bottom
                        a(href="#!")
                          img(src="./tmp/img-gallery-2.png", alt="")
                    .swiper-slide.--two
                      .main-gallery__block
                        a(href="#!")
                          img(src="./tmp/img-gallery-3.png", alt="")
                    .swiper-slide.--three
                      .main-gallery__block.--half.--top
                        a(href="#!")
                          img(src="./tmp/img-gallery-4.png", alt="")
                      .main-gallery__block.--half.--bottom
                        a(href="#!")
                          img(src="./tmp/img-gallery-5.png", alt="")
                    .swiper-slide.--one
                      .main-gallery__block.--half.--top
                        a(href="#!")
                          img(src="./tmp/img-gallery-1.png", alt="")
                      .main-gallery__block.--half.--bottom
                        a(href="#!")
                          img(src="./tmp/img-gallery-2.png", alt="")
                    .swiper-slide.--two
                      .main-gallery__block
                        a(href="#!")
                          img(src="./tmp/img-gallery-3.png", alt="")
                    .swiper-slide.--three
                      .main-gallery__block.--half.--top
                        a(href="#!")
                          img(src="./tmp/img-gallery-4.png", alt="")
                      .main-gallery__block.--half.--bottom
                        a(href="#!")
                          img(src="./tmp/img-gallery-5.png", alt="")
              .swiper-pagination

        // Main children
        .main-children
          .container
            .main-children__round
            .main-children__head
              .main-children__head-untitle Для самых маленьких и не только
              h1 Лучшее детям
            .main-children__wrapper
              .main-children__wrapper-inside
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide

      include ./_include/_footer
      div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    script.
      $(document).ready(function(){
        var mainSlider = new Swiper('.main-slider .swiper-container', {
          navigation: {
            nextEl: '.main-slider .swiper-button-next',
            prevEl: '.main-slider .swiper-button-prev',
          },
          pagination: {
            el: '.main-slider .swiper-pagination',
            clickable: true
          },
          loop: true,
          slidesPerView: 1,
          effect: 'fade',
        });
        var mainJournal = new Swiper('.main-journal .swiper-container', {
          navigation: {
            nextEl: '.main-journal .swiper-button-next',
            prevEl: '.main-journal .swiper-button-prev',
          },
          pagination: {
            el: '.main-journal .swiper-pagination',
            clickable: true
          },
          loop: true,
          breakpoints: {
            320: {
              slidesPerView: 'auto',
              spaceBetween: 30
            },
            640: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 5,
              loopedSlides: 5,
              spaceBetween: 30
            }
          }
        });
        var mainChildren1 = new Swiper('.--main-children-1 .swiper-container', {
          navigation: {
            nextEl: '.--main-children-1 .swiper-button-next',
            prevEl: '.--main-children-1 .swiper-button-prev',
          },
          pagination: {
            el: '.--main-children-1 .swiper-pagination',
            clickable: true
          },
          loop: true,
          breakpoints: {
            320: {
              slidesPerView: 'auto',
              spaceBetween: 30
            },
            640: {
              slidesPerView: 'auto',
              loopedSlides: 4,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 5,
              loopedSlides: 5,
              spaceBetween: 30
            }
          }
        });
        var mainGgllery = new Swiper('.main-gallery .swiper-container', {
          navigation: {
            nextEl: '.main-gallery .swiper-button-next',
            prevEl: '.main-gallery .swiper-button-prev',
          },
          pagination: {
            el: '.main-gallery .swiper-pagination',
            clickable: true
          },
          loop: false,
          breakpoints: {
            320: {
              slidesPerView: 1,
              spaceBetween: 30
            },
            640: {
              slidesPerView: 1,
              spaceBetween: 30
            },
            960: {
              slidesPerView: 'auto',
              spaceBetween: 30
            }
          }
        });
      });