doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Achdut' //title страницы для генерации верстки

  include ./_include/_head

  body.--bg-main
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      .content
        .container

          // Main slider
          .main-slider
            .main-slider__wrapper
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .main-slider__block
                      img(src="./tmp/main-slider.png", alt="")
                  .swiper-slide
                    .main-slider__block
                      img(src="./tmp/main-slider.png", alt="")
                  .swiper-slide
                    .main-slider__block
                      img(src="./tmp/main-slider.png", alt="")
              .swiper-button-next
              .swiper-button-prev
            .swiper-pagination

          // Quote
          .quote
            .quote__thumb
              img(src="./tmp/quote-main.png", alt="")
            .quote__content
              .quote__content-icon
                i.icon-comments
              p Пока есть хотя бы один еврейский ребенок, не получающий настоящего еврейского воспитания, считается, что община не исполнила своего долга.
              .quote__content-name Любавический Ребе

          // About
          .about
            .about__wrapper
              .left
                .about__head
                  .about__head-category Еврейский клуб “Ахдут”
                  h1 О нашем клубе
                .about__content
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
                  p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                .about__btns
                  a(href="#!").about__content-btn
                    span Подробнее
                    i.icon-arrow-right
                  div
                    a(href="#!").about__content-link
                      span Родителям
                      i.icon-arrow-right
              .right
                img(src="./tmp/img-about.svg", alt="").about__img

      include ./_include/_footer
      div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    script.
      $(document).ready(function(){
        var mainSlider = new Swiper('.main-slider .swiper-container', {
          navigation: {
            nextEl: '.main-slider .swiper-button-next',
            prevEl: '.main-slider .swiper-button-prev',
          },
          pagination: {
            el: '.main-slider .swiper-pagination',
            clickable: true
          },
          loop: true,
          slidesPerView: 1,
          effect: 'fade',
        });
      });