doctype

html(lang="ru")

  -var active = 'Родителям' //активный пункт меню, список в header.jade
  -var pageTitle = 'Родителям' + ' - Achdut' //title страницы для генерации верстки

  include ./_include/_head

  body.--bg-3
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      .top-rounds
        div.first
        div.center
        div.last

      .content
        .container

          +breadcrumbs()
            +breadcrumbs-item('Главная страница', '#!')
            +breadcrumbs-item('Название страницы')

          .content__head.--top
            .h1 Родителям

          .content__top.--icon
            .d-none.d-sm-flex.content__top-icon
            h1 Подзаголовок пояснение
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные  предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 

          // News
          .row.news
            - for (var i=1; i<5; i++) {
            .col-10
              .news__block
                .news__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-news-"+i+".png", alt="")
                .news__block-content
                  a(href="#!").news__block-title Страхи у детей школьного и дошкольного возраста
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
            - }

          +pagination()
            +pagination-item('1', '#!')
            +pagination-item('2', '#!', true)
            +pagination-item('4', '#!')
            +pagination-item('5', '#!')
            +pagination-item('6', '#!')
            +pagination-item('...')
            +pagination-item('999', '/999')

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

