doctype

html(lang="ru")

  -var active = 'Видео' //активный пункт меню, список в header.jade
  -var pageTitle = 'Видео' + ' - Achdut' //title страницы для генерации верстки

  include ./_include/_head

  body.--bg-3
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      .top-rounds
        div.first
        div.center

      .content
        .container

          +breadcrumbs()
            +breadcrumbs-item('Главная страница', '#!')
            +breadcrumbs-item('Название страницы')

          .content__head.--top
            .h1 Видео

          .content__top.--icon
            .content__top-icon
              i.icon-videos
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные  предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 

          // Videos
          .videos
            h1 Название альбома
            .row
              - for (var i=1; i<5; i++) {
              .col-10.col-lg-5
                .videos__block
                  .videos__block-thumb
                    img(src="./tmp/img-videos-1.png", alt="")
                    a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").videos__block-play 
                      i.icon-play
                    a(href="#!").videos__block-btn Скачать
                  .videos__block-content
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
              - }

          +pagination()
            +pagination-item('1', '#!')
            +pagination-item('2', '#!', true)
            +pagination-item('4', '#!')
            +pagination-item('5', '#!')
            +pagination-item('6', '#!')
            +pagination-item('...')
            +pagination-item('999', '/999')

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

