/* modules */
.row {
  @include media-breakpoint-up(lg) {
    margin-left: -15px;
    margin-right: -15px;
    &>[class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.nav {
  $this: &;
  border: 0;
  &-tabs {
    #{$this} {
      &-item {
        &:before {
          display: none;
        }
      }
      &-link {
        border: 0;
        background: transparent;
        border-radius: 50px;
        text-decoration: none;
        color: $primary-color;
        font-weight: 500;
        &:hover {
          color: $color-red;
        }
        &.active {
          box-shadow: 0px 4px 30px rgba(65, 131, 231, 0.5);
          background: $color-blue;
          color: $color-white;
        }
      }
    }
  }
}

.content {
  &__head {
    .h1, h1 {
      color: $color-white;
      margin-bottom: 44px;
    }
    &.--top {
      text-align: center;
    }
  }
  &__top {
    position: relative;
    background: $color-white;
    box-shadow: 0px 4px 30px rgba($color-black,.05);
    border-radius: 25px;
    padding: 35px 34px;
    margin-bottom: 50px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-icon {
      border-radius: 50%;
      background: linear-gradient(180deg, #FFB950 0%, #FF9550 100%);
      box-shadow: 5px 15px 30px rgba(255, 174, 80, 0.5);
      position: absolute;
      width: 70px;
      height: 70px;
      color: $color-white;
      text-align: center;
      font-size: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      &.--bg-0 {
        background: linear-gradient(268.04deg, #FF3A64 6.18%, #FF6784 82.32%);
        box-shadow: 5px 15px 30px rgba(255, 65, 105, 0.3);
      }
    }
    &-about {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 266px;
    }
    &-play {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%,50%);
      background: linear-gradient(180deg, #FFB950 0%, #FF9550 100%);
      box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 10px rgba($color-white,.5);
      width: 72px;
      height: 72px;
      text-decoration: none;
      color: $color-white;
      border-radius: 50%;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.35s;
      &:hover {
        color: $color-white;
        box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 15px rgba($color-white,.2);
      }
    }
    &.--about {
      padding-bottom: 210px;
      border-bottom-left-radius: 25px;
    }
    &.--video {
      padding: 10px;
      margin-bottom: 95px;
      img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 15px;
      }
    }
    &.--photos {
      padding: 0;
      margin: 0;
    }
  }
  &__document {
    img {
      max-width: 1272px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 15px;
      display: block;
    }
  }
  @include media-breakpoint-up(sm) {
    &__top {
      padding: 50px 48px;
      border-radius: 25px;
      &-icon {
        width: 100px;
        height: 100px;
        right: 0;
        left: auto;
        transform: translateY(-50%);
        font-size: 45px;
      }
      &-about {
        max-width: 422px;
      }
      &.--about {
        padding-bottom: 355px;
      }
      &-play {
        top: 50%;
        bottom: auto;
        transform: translate(-50%,-50%);
      }
      &.--video {
        padding: 15px;
        margin-bottom: 50px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__head {
      &.--top {
        text-align: left;
        .h1, h1 {
          margin-bottom: 50px;
        }
      }
    }
    &__top {
      padding: 45px 58px;
      border-radius: 25px;
      margin-bottom: 70px;
      p {
        padding-left: 22px;
      }
      &-icon {
        transform: translate(50%,-50%);
        .--photos & {
          right: -85px;
        }
      }
      &.--icon {
        max-width: 90%;
      }
      &-about {
        max-width: 241px;
      }
      &.--about {
        padding-bottom: 45px;
        p {
          padding-left: 215px;
          margin-bottom: 0;
          &+p {
            margin-top: 35px;
          }
        }
      }
      &-play {
        width: 98px;
        height: 98px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 15px rgba($color-white,.5);
        font-size: 26px;
        &:hover {
          box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 21px rgba($color-white,.2);
        }
      }
      &.--video {
        padding: 15px;
        margin-bottom: 50px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__head {
      &.--top {
        .h1, h1 {
          margin-bottom: 70px;
        }
      }
    }
    &__top {
      padding: 80px 50px 55px 93px;
      font-size: 15px;
      h1, .h1 {
        margin-bottom: 30px;
      }
      p {
        padding-left: 42px;
      }
      &-icon {
        width: 168px;
        height: 168px;
        font-size: 74px;
        .--photos & {
          right: -115px;
        }
      }
      &-about {
        max-width: 323px;
      }
      &.--about {
        p {
          padding-left: 265px;
        }
      }
      &-play {
        width: 134px;
        height: 134px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 20px rgba($color-white,.5);
        font-size: 41px;
        &:hover {
          box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 28px rgba($color-white,.2);
        }
      }
      &.--video {
        padding: 30px;
        margin-bottom: 70px;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__head {
      &.--top {
        .h1, h1 {
          margin-bottom: 95px;
          font-size: 60px;
        }
      }
    }
    &__top {
      padding: 80px 124px 80px 124px;
      font-size: 17px;
      &-about {
        max-width: 430px;
      }
      &.--about {
        padding-bottom: 80px;
        p {
          padding-left: 345px;
        }
      }
      &-play {
        width: 178px;
        height: 178px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 26px rgba($color-white,.5);
        font-size: 48px;
        &:hover {
          box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 31px rgba($color-white,.2);
        }
      }
      &-icon {
        .--photos & {
          right: 0;
        }
      }
    }
    &__document {
      max-width: 1352px;
      margin: 0 auto;
    }
  }
}

.section-form {
  margin-bottom: 100px;
  &__img {
    margin-bottom: -36px;
    img {
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
    }
    .--first {
      display: none;
    }
  }
  &__form {
    background: url('../images/form-bg-xs.svg') left center no-repeat, linear-gradient(114.2deg, #FFA85D -7.76%, #FF6B5B 106.9%);
    border-radius: 50px;
    padding: 60px 48px 48px 48px;
    background-size: cover;
    color: $color-white;
    font-size: 14px;
    box-shadow: 0px 10px 30px rgba(255, 150, 92, 0.5);
    .field-text__input {
      background-color: transparent;
      color: $color-white;
      border-color: rgba($color-white,.5);
      &::-webkit-input-placeholder {
        color: $color-white;
      }
      &::-moz-placeholder {
        color: $color-white;
      }
      &:-ms-input-placeholder {
        color: $color-white;
      }
      &:-moz-placeholder {
        color: $color-white;
      }
      &:focus {
        border-color: rgba($color-white,.8);
      }
      &.error+label {
        color: $color-white;
      }
    }
    .field-checkbox {
      max-width: 272px;
      margin: 0 auto;
      &__label {
        color: $color-white;
      }
      &__span-input {
        border-color: $color-white;
      }
    }
    &-center {
      max-width: 372px;
      margin: 0 auto;
    }
  }
  &__untitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    opacity: 0.7;
    margin-bottom: 13px;
  }
  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  &__btn {
    background: $color-white;
    display: block;
    width: 100%;
    border-radius: 50px;
    color: $color-red;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    height: 50px;
    border: 4px solid $color-white;
    position: relative;
    padding-right: 42px;
    .icon-arrow-right {
      position: absolute;
      width: 42px;
      height: 42px;
      right: 0px;
      top: 0px;
      border-radius: 50%;
      color: $color-white;
      background: $color-red;
      line-height: 42px;
      text-align: center;
      font-size: 15px;
      transform: translateX(0);
      transition: all 0.35s;
    }
    &:hover {
      .icon-arrow-right {
        transform: translateX(4px);
      }
    }
  }
  &__row-2 {
    display: flex;
    flex-direction: column;
    &>div {
      &+div {
        margin-top: 20px;
      }
    }
  }
  &__center {
    max-width: 372px;
    margin: 0 auto;
  }
  @include media-breakpoint-up(sm) {
    &__img {
      .--last {
        img {
          max-width: 434px;
        }
      }
    }
    &__untitle {
      font-size: 14px;
    }
    &__title {
      font-size: 50px;
      margin-bottom: 15px;
      line-height: 1;
    }
    &__form {
      background: url('../images/form-bg-sm.svg') left center no-repeat, linear-gradient(114.2deg, #FFA85D -7.76%, #FF6B5B 106.9%);
    }
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 70px;
    &__img {
      display: flex;
      justify-content: center;
      margin-bottom: -22px;
      .--first {
        display: block;
      }
      .--last {
        img {
          max-width: inherit;
        }
      }
      img {
        max-height: 172px;
      }
    }
    &__form {
      background: url('../images/form-bg-lg.svg') left center no-repeat, linear-gradient(114.2deg, #FFA85D -7.76%, #FF6B5B 106.9%);
      border-radius: 25px;
      padding: 40px 36px 40px 40px;
      display: flex;
      align-items: center;
      &-left {
        flex-shrink: 0;
        width: 310px;
      }
      &-center {
        flex-grow: 1;
        padding-left: 15px;
        max-width: inherit;
      }
    }
    &__untitle {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 40px;
      margin-bottom: 0;
    }
    &__row-1 {
      display: flex;
      &>div {
        width: 50%;
        &+div {
          margin-left: 20px;
        }
      }
      .form-group {
        margin-bottom: 15px;
      }
    }
    &__row-2 {
      flex-direction: row;
      align-items: center;
      &>div {
        width: 50%;
        &:first-child {
          order: 2;
        }
        &+div {
          margin-top: 0;
          margin-right: 20px;
        }
      }
    }
    .field-checkbox__label {
      font-size: 12px;
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 100px;
    &__form {
      background: url('../images/form-bg-xl.svg') left center no-repeat, linear-gradient(114.2deg, #FFA85D -7.76%, #FF6B5B 106.9%);
      border-radius: 50px;
      padding: 60px 53px 67px 50px;
      &-left {
        width: 428px;
      }
    }
    &__img {
      margin-bottom: -36px;
      img {
        max-height: 233px;
      }
    }
    &__untitle {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__title {
      font-size: 50px;
    }
    &__row-1 {
      &>div {
        &+div {
          margin-left: 30px;
        }
      }
      .form-group {
        margin-bottom: 25px;
      }
    }
    &__row-2 {
      &>div {
        &:first-child {
          width: 355px;
          flex-shrink: 0;
        }
        &+div {
          margin-right: 30px;
        }
      }
    }
    .field-checkbox__label {
      font-size: 14px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__form {
      background: url('../images/form-bg-xxl.svg') left center no-repeat, linear-gradient(114.2deg, #FFA85D -7.76%, #FF6B5B 106.9%);
      padding: 60px 104px 77px 104px;
      &-left {
        width: 528px;
      }
    }
    &__img {
      img {
        max-height: inherit;
        height: 298px;
      }
    }
    &__title {
      font-size: 60px;
    }
    &__row-1 {
      &>div {
        &+div {
          margin-left: 40px;
        }
      }
    }
    &__row-2 {
      &>div {
        &:first-child {
          width: 400px;
        }
        &+div {
          margin-right: 40px;
        }
      }
    }
    .field-checkbox__label {
      font-size: 14px;
    }
    .field-checkbox {
      max-width: inherit;
      &__label {
        padding-top: 3px;
      }
    }
  }
}

.top-rounds {
  height: 0;
  position: relative;
  display: none;
  pointer-events: none;
  z-index: -1;
  div {
    position: absolute;
    border-radius: 50%;
    &.first {
      width: 191px;
      height: 191px;
      background: linear-gradient(266.54deg, #0092F8 11.29%, #417EF8 85.22%);
      box-shadow: 5px 15px 30px rgba(1, 145, 248, 0.3);
      left: -140px;
      // top: 0px;
      top: 850px;
    }
    &.center {
      width: 89px;
      height: 89px;
      background: linear-gradient(180deg, #FFB950 0%, #FF9550 100%);
      box-shadow: 5px 15px 30px rgba(255, 149, 80, 0.5);
      right: 116px;
      top: 851px;
      &.--right {
        right: 15px;
      }
    }
    &.last {
      width: 266px;
      border-radius: 0;
      height: 658px;
      right: 0;
      top: 1300px;
      background: url('../images/img-round.svg') 0 0 no-repeat;
      &.--top {
        top: 785px;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    display: block;
  }
}

.games {
  $this: &;
  &__block {
    margin-bottom: 50px;
    &-thumb {
      background: #FFFFFF;
      box-shadow: 0px 15px 15px rgba($color-black,.02);
      border-radius: 25px;
      margin: 0 auto 30px;
      width: 223px;
      height: 255px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        max-width: 80%;
        max-height: 80%;
      }
    }
    &-content {
      p {
        opacity: 1;
        transition: all 0.35s;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-category {
      text-align: center;
      font-size: 10px;
      line-height: 1;
      margin-bottom: 0px;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.7;
    }
    &-title {
      text-align: center;
      color: $color-orange;
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    &-btn {
      position: absolute;
      background: $color-blue;
      box-shadow: 0px 6px 15px rgba(65, 131, 231, 0.5);
      border-radius: 50px;
      width: 160px;
      height: 40px;
      line-height: 40px;
      color: $color-white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      text-align: center;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,50%);
      border: 1px solid $color-blue;
      transition: all 0.35s;
      opacity: 0;
      visibility: hidden;
      &:hover {
        color: $color-white;
      }
    }
    &:hover {
      #{$this} {
        &__block {
          &-btn {
            opacity: 1;
            visibility: visible;
          }
          &-content {
            p {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      display: flex;
      &-thumb {
        flex-shrink: 0;
        margin-bottom: 0;
      }
      &-content {
        padding-top: 13px;
        flex-grow: 1;
        padding-left: 23px;
      }
      &-title {
        text-align: left;
      }
      &-category {
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      font-size: 12px;
      &-thumb {
        width: 152px;
        height: 179px;
        border-radius: 15px;
      }
      &-content {
        padding-left: 30px;
      }
      &-title {
        font-size: 26px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__block {
      font-size: 14px;
      &-thumb {
        width: 216px;
        height: 255px;
        border-radius: 25px;
      }
      &-title {
        font-size: 32px;
      }
      &-content {
        p {
          padding-left: 0;
        }
      }
      &-btn {
        &:hover {
          background: $color-white;
          color: $color-blue;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__block {
      font-size: 14px;
      margin-bottom: 70px;
      align-items: center;
      &-thumb {
        width: 288px;
        height: 340px;
        border-radius: 25px;
      }
      &-title {
        font-size: 36px;
      }
      &-content {
        padding-top: 0;
      }
    }
  }
}

.news {
  $this: &;
  &__block {
    margin-bottom: 30px;
    &-thumb {
      margin-bottom: 15px;
      img {
        max-width: 100%;
        height: auto;
        display: block;
        filter: drop-shadow(0px 4px 25px rgba($color-black,.05));
        border-radius: 25px;
      }
    }
    &-title {
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.2;
      text-decoration: none;
      color: $primary-color;
      display: inline-block;
    }
    &-btn {
      display: none;
      background: $color-white;
      min-width: 200px;
      border-radius: 50px;
      color: $color-red;
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      height: 50px;
      line-height: 42px;
      border: 4px solid $color-white;
      position: relative;
      padding-right: 42px;
      box-shadow: 0px 4px 4px rgba($color-black,.03);
      text-decoration: none;
      text-align: center;
      i {
        position: absolute;
        width: 42px;
        height: 42px;
        right: 0;
        top: 0;
        border-radius: 50%;
        color: $color-white;
        background: $color-red;
        line-height: 42px;
        text-align: center;
        font-size: 15px;
        transform: translateX(0);
        transition: all .35s;
      }
      &:hover {
        .icon-arrow-right {
          transform: translateX(4px);
        }
      }
    }
    &-content {
      p {
        display: none;
        margin-bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      display: flex;
      margin-bottom: 55px;
      &-thumb {
        flex-shrink: 0;
        img {
          width: 223px;
        }
      }
      &-content {
        flex-grow: 1;
        padding-left: 30px;
        p {
          display: block;
        }
      }
      &-title {
        margin-bottom: 23px;
        font-size: 22px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      margin-bottom: 50px;
      &-thumb {
        img {
          width: 242px;
        }
      }
      &-content {
        p {
          padding-left: 30px;
        }
      }
      &-title {
        margin-bottom: 18px;
        font-size: 26px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    max-width: 984px;
    margin: 0 auto;
    &__block {
      &-thumb {
        img {
          width: 340px;
        }
      }
      &-content {
        p {
          padding-left: 30px;
        }
      }
      &-title {
        font-size: 32px;
        &:hover {
          color: $color-orange;
        }
      }
      &:hover {
        #{$this} {
          &__block {
            &-title {
              color: $color-orange;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1272px;
    &__block {
      margin-bottom: 80px;
      &-thumb {
        img {
          width: 452px;
        }
      }
      &-content {
        padding-left: 40px;
        p {
          margin-bottom: 30px;
        }
      }
      &-title {
        font-size: 36px;
      }
      &-btn {
        display: inline-block;
      }
    }
  }
}

.stories {
  $this: &;
  &__block {
    margin-bottom: 30px;
    &-thumb {
      margin: 0 auto -28px;
      width: 211px;
      height: 245px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 5;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-content {
      background: $color-white;
      box-shadow: 0px 4px 30px rgba($color-black,.05);
      border-radius: 25px;
      padding: 35px 25px 35px 25px;
      position: relative;
      overflow: hidden;
      
      p {
        max-height: 135px;
        overflow: hidden;
        transition: all 0.35s;
        opacity: 1;
        visibility: visible;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0px;
          background: linear-gradient(0deg, $color-white 0%, rgba($color-white, 0) 100%);
          height: 56px;
          pointer-events: none;
        }
      }
    }
    &-category {
      font-size: 10px;
      line-height: 1;
      margin-bottom: 6px;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.7;
    }
    &-title {
      color: $color-orange;
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 15px;
      line-height: 1.2;
    }
    &-btn {
      position: absolute;
      background: $color-orange;
      box-shadow: 0px 6px 15px rgba(255, 149, 80, 0.5);
      border-radius: 50px;
      width: 160px;
      height: 40px;
      line-height: 40px;
      color: $color-white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      text-align: center;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,-25%);
      border: 1px solid $color-orange;
      transition: all 0.35s;
      opacity: 0;
      visibility: hidden;
      &:hover {
        color: $color-white;
      }
    }
    &:hover {
      #{$this} {
        &__block {
          &-btn {
            opacity: 1;
            visibility: visible;
          }
          &-content {
            p {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      display: flex;
      margin-bottom: 50px;
      align-items: center;
      &-thumb {
        flex-shrink: 0;
        margin: 0;
      }
      &-content {
        width: calc(100% - 76px);
        margin-left: -76px;
        padding-left: 76px;
        p {
          max-height: 90px;
        }
      }
      &-title {
        font-size: 36px;
        margin-bottom: 5px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      align-items: flex-start;
      margin-bottom: 36px;
      &-thumb {
        width: 183px;
        height: 213px;
        margin-left: -18px;
      }
      &-content {
        margin-top: 30px;
        padding-top: 40px;
        border-radius: 15px;
        p {
          max-height: 95px;
        }
      }
      &-title {
        font-size: 26px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__block {
      align-items: flex-start;
      margin-bottom: 0px;
      font-size: 14px;
      &-thumb {
        width: 316px;
        height: 368px;
        margin-left: -50px;
      }
      &-content {
        margin-top: 110px;
        padding-top: 35px;
        border-radius: 25px;
        min-height: 255px;
        p {
          max-height: 95px;
          padding-left: 0;
        }
      }
      &-title {
        font-size: 36px;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__block {
      align-items: flex-start;
      margin-bottom: 0px;
      font-size: 14px;
      &-thumb {
        width: 348px;
        height: 405px;
        margin-left: 0px;
      }
      &-content {
        margin-top: 120px;
        min-height: 280px;
        p {
          max-height: 126px;
        }
      }
      &-title {
        font-size: 36px;
      }
    }
  }
}

.videos {
  $this: &;
  &__block {
    margin-bottom: 50px;
    font-size: 14px;
    &-thumb {
      margin: 0 auto 20px;
      position: relative;
      img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 25px;
        filter: drop-shadow(0px 4px 20px rgba($color-black,0));
        transition: all 0.35s;
      }
    }
    &-content {
      p {
        margin-bottom: 0;
      }
    }
    &-btn {
      position: absolute;
      bottom: 0;
      right: 10px;
      transform: translateY(50%);
      background: $color-blue;
      box-shadow: 0px 6px 15px rgba(65, 131, 231, 0.5);
      border-radius: 50px;
      text-decoration: none;
      width: 160px;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      color: $color-white;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.35s;
      opacity: 0;
      visibility: hidden;
      &:hover {
        color: $color-white;
      }
    }
    &-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background: linear-gradient(180deg, #FFB950 0%, #FF9550 100%);
      box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 10px rgba($color-white,.5);
      width: 68px;
      height: 68px;
      text-decoration: none;
      color: $color-white;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.35s;
      &:hover {
        color: $color-white;
      }
    }
    &:hover {
      #{$this} {
        &__block {
          &-thumb {
            img {
              filter: drop-shadow(0px 4px 20px rgba($color-black,.25));
            }
          }
          &-btn {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      &-thumb {
        margin-bottom: 30px;
      }
      &-play {
        width: 134px;
        height: 134px;
        font-size: 46px;
        box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 20px rgba($color-white,.5);
      }
      &-btn {
        right: 38px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      margin-bottom: 45px;
      font-size: 12px;
      &-play {
        width: 98px;
        height: 98px;
        font-size: 34px;
        box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 14px rgba($color-white,.5);
      }
      &-btn {
        right: 38px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    max-width: 956px;
    margin: 0 auto;
    &__block {
      margin-bottom: 75px;
      font-size: 14px;
      &-play {
        width: 108px;
        height: 108px;
        font-size: 40px;
        box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 16px rgba($color-white,.5);
        &:hover {
          box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 21px rgba($color-white,.2);
        }
      }
      &-content {
        p {
          padding-left: 0;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1272px;
    &__block {
      margin-bottom: 70px;
      font-size: 17px;
      &-play {
        width: 108px;
        height: 108px;
        font-size: 40px;
        box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 16px rgba($color-white,.5);
        &:hover {
          box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 21px rgba($color-white,.2);
        }
      }
      &-content {
        p {
          max-width: 445px;
        }
      }
      &-btn {
        &:hover {
          background: $color-white;
          color: $color-blue;
          border-color: $color-blue;
        }
      }
    }
  }
}

.all-video {
  margin-bottom: 50px;
  &__block {
    &-thumb {
      position: relative;
      img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 25px;
        filter: drop-shadow(0px 4px 20px rgba($color-black,0));
        transition: all 0.35s;
      }
    }
    &-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background: linear-gradient(180deg, #FFB950 0%, #FF9550 100%);
      box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 10px rgba($color-white,.5);
      width: 68px;
      height: 68px;
      text-decoration: none;
      color: $color-white;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.35s;
      &:hover {
        color: $color-white;
      }
    }
  }
  &__wrapper {
    position: relative;
    margin-bottom: 20px;
  }
  .swiper {
    &-container {
      width: 100%;
      height: 100%;
    }
    &-slide {
      text-align: center;
      font-size: 18px;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-button-next, &-button-prev {
      width: 42px;
      height: 42px;
      background: $color-white;
      box-shadow: 0px 4px 10px rgba($color-blue,.1);
      border-radius: 50px;
      color: $color-red;
      font-size: 0;
      transition: all 0.35s;
      &::after {
        font-size: 13px;
        font-family: $font-icomoon;
      }
      &:focus {
        outline: none;
      }
    }
    &-button-next {
      right: 0;
      &::after {
        content: '\e900';
      }
    }
    &-button-prev {
      left: 0;
      opacity: 0;
      visibility: hidden;
      &::after {
        content: '\e901';
      }
    }
    &-button-disabled {
      opacity: 0;
    }
    &-pagination {
      bottom: 0px;
      height: 4px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &-bullet {
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background: $primary-color;
        opacity: 0.2;
        border-radius: 50px;
        margin: 0 4px;
        transition: all 0.35s;
        box-shadow: 0px 4px 10px rgba(255, 148, 92,0);
        &-active {
          background: $color-orange;
          width: 56px;
          opacity: 1;
          box-shadow: 0px 4px 10px rgba(255, 148, 92, 0.5);
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    margin-bottom: 70px;
    &__block {
      &-play {
        width: 80px;
        height: 80px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 12px rgba($color-white,.5);
      }
    }
    &__wrapper {
      margin-bottom: 30px;
    }
    .swiper {
      &-container {
        margin-right: -30px;
        width: calc(100% + 30px);
      }
      &-slide {
        width: 462px !important;
        opacity: 0.3;
        transition: opacity 0.35s;
        &-active {
          opacity: 1;
        }
      }
      &-button {
        &-next {
          right: 30px
        }
        &-prev, &-next {
          height: 50px;
          width: 50px;
          &::after {
            font-size: 16px;
          }
        }
      }
    }
    &-pagination {
      height: 7px;
      &-bullet {
        width: 7px;
        height: 7px;
        &-active {
          width: 67px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
    &__block {
      &-play {
        width: 66px;
        height: 66px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 10px rgba($color-white,.5);
        font-size: 24px;
      }
    }
    &__wrapper {
      margin-bottom: 30px;
    }
    .swiper {
      &-container {
        margin-right: 0px;
        width: 100%;
        border-radius: 25px;
      }
      &-slide {
        width: 334px !important;
        &-next {
          opacity: 1;
        }
      }
      &-button {
        &-next {
          right: -25px
        }
        &-prev {
          left: -25px
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 70px;
    &__head {
      margin-bottom: 40px;
      h1, .h1 {
        font-size: 50px;
        margin-right: 40px;
      }
      &-link {
        font-size: 15px;
      }
    }
    &__block {
      &-play {
        width: 80px;
        height: 80px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 12px rgba($color-white,.5);
        font-size: 36px;
        &:hover {
          box-shadow: 0px 4px 15px rgba($color-blue, 0.1), 0 0 0 21px rgba($color-white,.2);
        }
      }
    }
    .swiper {
      &-slide {
        width: 462px !important;
      }
      &-button-prev, &-button-next {
        &:hover {
          box-shadow: 0 4px 15px rgba(65,131,231,.4);
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__head {
      h1, .h1 {
        font-size: 60px;
        margin-right: 50px;
      }
    }
    &__block {
      &-play {
        width: 108px;
        height: 108px;
        box-shadow: 0px 4px 15px rgba($color-black, 0.1), 0 0 0 16px rgba($color-white,.5);
      }
    }
    .swiper {
      &-slide {
        width: 616px !important;
      }
    }
  }
}

.category {
  $this: &;
  &__head {
    margin-bottom: 23px;
    h1, .h1 {
      font-size: 40px;
      margin-bottom: 0px;
    }
    &-link {
      display: inline-block;
      text-transform: uppercase;
      color: $primary-color;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      i {
        margin-left: 15px;
        transform: translateX(0);
        transition: all 0.35s;
      }
      &:hover {
        color: $color-red;
        i {
          transform: translateX(-10px);
        }
      }
    }
    &-untitle {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
    }
  }
  &__block {
    background: $color-white;
    box-shadow: 0px 15px 15px rgba($color-black,.02);
    border-radius: 25px;
    padding: 20px 18px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    transform: translateY(0);
    transition: all 0.35s;
    margin-bottom: 70px;
    &-thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 254px;
      margin-bottom: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: contain;
      }
    }
    p {
      margin-bottom: 0;
      transition: all 0.35s;
    }
    &-btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,50%);
      background: $color-blue;
      box-shadow: 0px 6px 15px rgba(65, 131, 231, 0.5);
      border-radius: 50px;
      text-decoration: none;
      width: 160px;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      color: $color-white;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.35s;
      opacity: 0;
      visibility: hidden;
      &:hover {
        color: $color-white;
      }
    }
    &:hover {
      transform: translateY(0px);
      #{$this} {
        &__block {
          &-btn {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      p {
        margin-bottom: 0px;
      }
    }
  }
  &__wrapper {
    margin-right: -15px;
    &-inside {
      position: relative;
    }
  }
  .swiper {
    &-container {
      margin-top: 0px;
    }
    &-slide {
      align-items: flex-end;
      padding-top: 0px;
      width: 216px;
      opacity: 0.3;
      transition: opacity 0.35s;
      &-active {
        opacity: 1;
      }
    }
    &-button-next, &-button-prev {
      width: 38px;
      height: 38px;
      background: $color-white;
      box-shadow: 0px 4px 10px rgba($color-blue,.1);
      border-radius: 50px;
      color: $color-red;
      font-size: 0;
      transition: all 0.35s;
      margin-top: calc(-19px - 35px);
      &::after {
        font-size: 13px;
        font-family: $font-icomoon;
      }
      &:focus {
        outline: none;
      }
    }
    &-button-next {
      right: 15px;
      &::after {
        content: '\e900';
      }
    }
    &-button-prev {
      left: 0;
      opacity: 0;
      visibility: hidden;
      &::after {
        content: '\e901';
      }
    }
    &-button-disabled {
      opacity: 0;
    }
    &-pagination {
      bottom: 0px;
      height: 4px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &-bullet {
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background: $primary-color;
        opacity: 0.2;
        border-radius: 50px;
        margin: 0 4px;
        transition: all 0.35s;
        box-shadow: 0px 4px 10px rgba(255, 148, 92,0);
        &-active {
          background: $color-orange;
          width: 56px;
          opacity: 1;
          box-shadow: 0px 4px 10px rgba(255, 148, 92, 0.5);
        }
      }
    }
    &-pagination {
      display: none;
    }
  }
  @include media-breakpoint-up(sm) {
    &__head {
      margin-bottom: 40px;
      h1, .h1 {
        font-size: 50px;
        margin-bottom: 0px;
        display: inline-block;
        margin-right: 44px;
      }
      &-untitle {
        font-size: 14px;
      }
    }
    &__wrapper {
      margin-right: -30px;
    }
    .swiper {
      &-slide {
        &-next {
          opacity: 1;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__head {
      margin-bottom: 20px;
      h1, .h1 {
        font-size: 40px;
        margin-right: 25px;
      }
      &-link {
        font-size: 13px;
      }
    }
    &__wrapper {
      margin-right: 0;
    }
    &__block {
      padding: 15px 10px 20px 10px;
      font-size: 12px;
      &-thumb {
        height: 186px;
      }
      &-btn {
        width: 130px;
      }
    }
    .swiper {
      &-container {
        overflow: inherit;
      }
      &-slide {
        opacity: 1;
      }
      &-button-next, &-button-prev {
        display: none;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__head {
      margin-bottom: 30px;
      h1, .h1 {
        font-size: 50px;
        margin-right: 40px;
      }
      &-link {
        font-size: 15px;
      }
    }
    &__block {
      font-size: 16px;
      transform: translateY(0);
      transition: all 0.35s;
      &-thumb {
        height: 254px;
      }
      p {
        padding-left: 0;
      }
      &:hover {
        transform: translateY(-30px);
      }
      &-btn {
        width: 160px;
        &:hover {
          background: $color-white;
          color: $color-blue;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__head {
      margin-bottom: 30px;
      h1, .h1 {
        font-size: 50px;
        margin-right: 40px;
      }
      &-link {
        font-size: 15px;
      }
    }
    &__block {
      font-size: 18px;
      border-radius: 50px;
      padding: 25px 25px 35px 25px;
      &-thumb {
        height: 339px;
      }
    }
  }
}

.contacts {
  margin-bottom: 50px;
  &__head {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    &>div {
      margin-right: 20px;
      flex-shrink: 0;
    }
    &::after {
      height: 1px;
      flex-grow: 1;
      border-bottom: 1px solid $primary-color;
      content: '';
      opacity: 0.15;
    }
    &.--top {
      margin-bottom: 30px;
    }
  }
  &__form {
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .field-text__input {
        width: 290px;
      }
      .field-checkbox {
        width: 251px;
      }
    }
    &-btn {
      background: $color-white;
      display: block;
      border-radius: 50px;
      color: $color-red;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      height: 50px;
      border: 4px solid $color-white;
      position: relative;
      padding-right: 42px;
      width: 230px;
      margin-bottom: 18px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
      .icon-arrow-right {
        position: absolute;
        width: 42px;
        height: 42px;
        right: 0px;
        top: 0px;
        border-radius: 50%;
        color: $color-white;
        background: $color-red;
        line-height: 42px;
        text-align: center;
        font-size: 15px;
        transform: translateX(0);
        transition: all 0.35s;
      }
      &:hover {
        .icon-arrow-right {
          transform: translateX(4px);
        }
      }
    }
  }
  &__content {
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }
  }
  &__block {
    font-size: 20px;
    margin-bottom: 15px;
    b {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      color: $color-orange;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
          color: $color-red;
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__head {
      font-size: 30px;
      line-height: 29px;
      &>div {
        margin-right: 29px;
      }
    }
    &__form {
      &-wrapper {
        .field-text__input {
          width: 342px;
        }
        .field-checkbox {
          width: 322px;
        }
      }
    }
    &__content {
      &-wrapper {
        margin-bottom: 40px;
      }
    }
    &__block {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    &__head {
      font-size: 25px;
      line-height: 29px;
      &>div {
        margin-right: 27px;
      }
      &.--top {
        margin-bottom: 45px;
      }
    }
    &__form {
      &-wrapper {
        flex-direction: row;
        align-items: center;
        .field-text__input {
          width: 100%;
        }
        .field-checkbox {
          width: 317px;
        }
        &.--bottom {
          .contacts__form-left {
            order: 2;
            flex-grow: 1;
            width: auto;
          }
          .contacts__form-center {
            margin-right: 30px;
            order: 1;
            width: 334px;
            flex-grow: 0;
            flex-shrink: 1;
          }
        }
      }
      &-left {
        width: 334px;
        flex-shrink: 0;
        margin-right: 30px;
      }
      &-center {
        flex-grow: 1;
      }
    }
    &__content {
      &-wrapper {
        flex-direction: row;
        margin-bottom: 40px;
      }
      &-left {
        flex-shrink: 0;
        width: 334px;
        margin-right: 30px;
      }
      &-center {
        flex-grow: 1;
      }
    }
    &__block {
      font-size: 18px;
      margin-bottom: 23px;
    }
  }
  @include media-breakpoint-up(xl) {
    max-width: 953px;
    margin: 0 auto;
    &__content {
      font-size: 15px;
      p {
        padding-left: 21px;
      }
    }
    &__head {
      font-size: 30px;
      line-height: 34px;
      &>div {
        margin-right: 27px;
      }
    }
    &__form {
      &-wrapper {
        &.--bottom {
          .contacts__form-center {
            width: 339px;
          }
        }
      }
      &-left {
        width: 339px;
      }
    }
    &__content {
      &-wrapper {
        margin-bottom: 50px;
      }
      &-left {
        width: 455px;
      }
    }
    &__block {
      font-size: 22px;
      margin-bottom: 20px;
      p {
        padding-left: 0;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1107px;
    &__form {
      &-wrapper {
        &.--bottom {
          .contacts__form-center {
            width: 452px;
          }
        }
      }
      &-left {
        width: 452px;
      }
    }
  }
}

.about-social {
  background: $color-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  max-width: 290px;
  padding: 7px 0 13px 0;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  @include media-breakpoint-up(sm) {
    display: flex;
    max-width: inherit;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 50px;
    white-space: nowrap;
    max-width: 394px;
    margin-left: auto;
    margin-right: auto;
    p {
      line-height: normal !important;
      margin-right: 15px !important;
    }
    i {
      font-size: 20px !important;
      &.icon-social-vk {
        font-size: 32px !important;
      }
    }
    img {
      width: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-right: 0;
    margin-bottom: -40px;
  }
}

.madriham {
  $this: &;
  &__block {
    margin-bottom: 50px;
    &-thumb {
      height: 230px;
      border-radius: 25px;
      overflow: hidden;
      margin-bottom: -70px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
    &-content {
      position: relative;
      background: $color-white;
      box-shadow: 0px 4px 30px rgba($color-black,.05);
      border-radius: 25px;
      overflow: hidden;
      padding: 40px 24px 25px 34px;
      p {
        margin-bottom: 0;
        position: relative;
        &:last-child {
          &::before {
            content: '';
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            left: 0;
            right: 0;
            bottom: -2px;
            height: 74px;
            pointer-events: none;
            position: absolute;
          }
        }
      }
    }
    &-untitle {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 10px;
      line-height: 11px;
      text-transform: uppercase;
      opacity: 0.7;
    }
    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 26px;
      color: $color-orange;
      margin-bottom: 16px;
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      &-thumb {
        margin-bottom: -148px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      &-thumb {
        height: 167px;
        margin-bottom: -60px;
      }
      &-content {
        padding-top: 30px;
      }
      &-title {
        margin-bottom: 5px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__block {
      font-size: 14px;
      margin-bottom: 70px;
      &-thumb {
        height: 230px;
        margin-bottom: -73px;
        border-radius: 50px;
        transition: all 0.35s;
      }
      &-content {
        padding: 40px 63px 40px 63px;
        border-radius: 50px;
        p {
          padding-left: 0;
          transition: all 0.35s;
        }
      }
      &-title {
        margin-bottom: 20px;
      }
      &:hover {
        #{$this} {
          &__block {
            &-thumb {
              opacity: 0.5;
            }
            &-content {
              p {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__block {
      display: flex;
      &-thumb {
        height: 230px;
        margin-bottom: 0;
        width: 288px;
        flex-shrink: 0;
      }
      &-content {
        width: calc(100% - 65px);
        margin-left: -65px;
      }
      &-title {
        margin-bottom: 15px;
        font-size: 36px;
      }
    }
  }
}

.photos {
  $this: &;
  &__block {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.35s;
    font-size: 12px;
    filter: drop-shadow(0px 4px 30px rgba($color-black,0));
    &-thumb {
      border-radius: 25px;
      img {
        border-radius: 25px;
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-content {
      position: absolute;
      right: 10px;
      bottom: 10px;
      left: 10px;
      background: $color-white;
      box-shadow: 0px 4px 30px rgba($color-black,.05);
      border-radius: 25px;
      padding: 15px;
      opacity: 0;
      visibility: hidden;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:hover {
      filter: drop-shadow(0px 4px 30px rgba($color-black,.3));
      #{$this} {
        &__block {
          &-content {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      &-content {
        border-radius: 50px;
        left: 96px;
        right: 96px;
        bottom: -17px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    &__block {
      flex: 0 0 40%;
      max-width: 40%;
      &-thumb {
        img {
          height: 218px;
          object-fit: cover;
        }
      }
      &+[class*="block"] {
        margin-left: 30px;
      }
      &:nth-child(3),&:nth-child(7),&:nth-child(11),&:nth-child(15),&:nth-child(19),&:nth-child(23),&:nth-child(27),&:nth-child(31) {
        margin-left: calc(20% - 30px);
      }
      &:nth-child(5),&:nth-child(9),&:nth-child(13),&:nth-child(17),&:nth-child(21),&:nth-child(25),&:nth-child(29),&:nth-child(32) {
        margin-left: 0;
      }
      &-content {
        left: 0;
        right: 0;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__block {
      margin-bottom: 34px;
      &-thumb {
        img {
          height: 296px;
        }
      }
      &-content {
        left: 35px;
        right: 35px;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__block {
      margin-bottom: 50px;
      &-thumb {
        img {
          height: 395px;
        }
      }
      &-content {
        left: 105px;
        right: 35px;
      }
    }
  }
}