/* footer */
.footer {
  background-color: transparent;
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    color: rgba($primary-color,.7);
    p {
      margin-bottom: 9px;
      line-height: 1.6;
      a {
        text-decoration: none;
        color: rgba($primary-color,.7);;
        &:hover {
          color: $color-red;
        }
      }
    }
    .last {
      max-width: 230px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      margin-top: -10px;
      background: linear-gradient(114.2deg, #FFA85D -7.76%, #FF6B5B 106.9%);
      border-radius: 50px;
      left: -15px;
      right: -15px;
      height: 280px;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 580px;
    margin: 0 auto;
  }
  &__navigation {
    order: 3;
  }
  &__last {
    order: 2;
    max-width: 290px;
    width: 100%;
  }
  &__address {
    padding: 0 45px;
    font-size: 15px;
    &-title {
      white-space: nowrap;
      font-weight: bold;
      color: $color-red;
      margin-bottom: 19px;
      font-size: 16px;
      line-height: 1;
    }
    p {
      margin-bottom: 15px;
      line-height: 1.4;
    }
    &-time {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 1.4;
      strong {
        font-size: 34px;
        line-height: 1;
      }
      &>*:first-child {
        max-width: 82px;
        margin-right: 10px;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__top {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &__last {
      width: calc(100% - 300px);
      padding-top: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    &__top {
      max-width: inherit;
      flex-wrap: nowrap;
      margin-bottom: 20px;
    }
    &__bottom {
      flex-direction: row;
      justify-content: space-between;
      .first {
        padding-left: 25px;
      }
      .last {
        padding-right: 25px;
        max-width: inherit;
      }
    }
    &__navigation {
      order: 2;
      flex-grow: 1;
    }
    &__last {
      order: 3;
    }
  }
}
.logo-footer {
  order: 1;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  color: $color-orange;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 0 39px 0;
  margin: 0 auto 40px;
  max-width: 290px;
  width: 100%;
  p {
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 22px;
  }
  @include media-breakpoint-up(sm) {
    max-width: inherit;
    width: 300px;
    flex-shrink: 0;
  }
  @include media-breakpoint-up(lg) {
    width: 241px;
    padding-bottom: 33px;
    margin-bottom: 0;
    img {
      width: 133px;
    }
    p {
      margin-bottom: 16px;
    }
  }
}