/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  background: rgba($color-white,.5);
  overflow: auto;
  text-align: center;
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
  &__wrapper {
    background: $color-white;
    margin: 104px 15px 15px 15px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    overflow: hidden;
    max-width: 480px;
    width: calc(100% - 30px);
    display: inline-block;
  }
  &__nav {
    border-top: 1px solid rgba( #36687D,.15);
    border-bottom: 1px solid rgba( #36687D,.15);
  }
  &__navigation {
    display: block;
    font-size: rem(18px);
    padding: 15px 0;
    ul {
      li {
        &>a, &>span {
          display: inline-block;
          text-decoration: none;
          color: $primary-color;
          height: 40px;
          line-height: 40px;
          border-radius: 35px;
          min-width: 165px;
          padding: 0 15px;
          background: transparent;
        }
        &.active {
          &>a, &>span {
            background: #FF9550;
            color: $color-white;
          }
        }
      }
    }
  }
  &__btn-mobile {
    color: $color-orange;
    margin: 20px auto;
  }
  &__social {
    border-top: 1px solid rgba( #36687D,.15);
    padding-top: 25px;
    padding-bottom: 30px;
  }
  &__btn {
    padding: 25px 0;
    text-align: center;
    a {
      display: inline-block;
      vertical-align: middle;
      width: 200px;
      height: 50px;
      line-height: 47px;
      border-radius: 35px;
      border: 2px solid $color-orange;
      font-size: rem(15px);
      text-transform: uppercase;
      text-decoration: none;
      color: $color-orange;
      font-weight: bold;
      i {
        font-weight: 400;
        font-size: rem(16px);
        margin-left: 10px;
        vertical-align: -1px;
      }
    }
  }
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
  @include media-breakpoint-up(sm) {
    &__wrapper {
      margin-top: 30px;
    }
  }
  @include media-breakpoint-up(lg) {

  }
}
.social {
  text-align: center;
  font-size: rem(12px);
  p {
    margin: 0;
    padding: 0;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-orange;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: rem(29px);
      &.icon-social-fb {
        color: #3761CE;
      }
      &.icon-social-vk {
        font-size: rem(41px);
        color: #1E88E5;
      }
    }
    a {
      text-decoration: none;
      opacity: 1;
      transition: all 0.35s;
      &+a {
        margin-left: 15px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    img {
      vertical-align: -3px;
    }
  }
}