/* fonts */
// google webfont https://google-webfonts-helper.herokuapp.com/fonts

/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-display: 'swap';
  font-style: normal;
  font-weight: 400;
  src: url('../font/ubuntu/ubuntu-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-display: 'swap';
  font-style: normal;
  font-weight: 500;
  src: url('../font/ubuntu/ubuntu-v15-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-display: 'swap';
  font-style: normal;
  font-weight: 700;
  src: url('../font/ubuntu/ubuntu-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/ubuntu/ubuntu-v15-latin_cyrillic-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon/fonts/icomoon.eot?vexhhz');
  src:  url('../font/icomoon/fonts/icomoon.eot?vexhhz#iefix') format('embedded-opentype'),
    url('../font/icomoon/fonts/icomoon.woff2?vexhhz') format('woff2'),
    url('../font/icomoon/fonts/icomoon.ttf?vexhhz') format('truetype'),
    url('../font/icomoon/fonts/icomoon.woff?vexhhz') format('woff'),
    url('../font/icomoon/fonts/icomoon.svg?vexhhz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots:before {
  content: "\e912";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right-double:before {
  content: "\e902";
}
.icon-arrow-left-double:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-comments:before {
  content: "\e906";
}
.icon-games:before {
  content: "\e907";
}
.icon-paints:before {
  content: "\e908";
}
.icon-quiz:before {
  content: "\e909";
}
.icon-tales:before {
  content: "\e90a";
}
.icon-videos:before {
  content: "\e90b";
}
.icon-quote-down:before {
  content: "\e90c";
}
.icon-quote-up:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
.icon-social-fb:before {
  content: "\e90f";
}
.icon-social-insta:before {
  content: "\e910";
}
.icon-social-vk:before {
  content: "\e911";
}
