// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #36687D;

$link-color:#FF5B57;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: #FF5B57;
$color-pink: pink;
$color-blue: #4183E7;
$color-orange: #FF9550;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-ubuntu: 'Ubuntu', $primary-font;

$font-icomoon: 'icomoon';